.about {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 5rem 0;
    }

    &__info-item {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;

        & > *:first-child {
            margin-bottom: .5rem;
        }
    }
}