*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Fallback for base layout component
  font-size: 62.5%;

  &.compact {
    font-size: 56.25%;
  }
}

body {
  box-sizing: border-box;
}
