::-webkit-scrollbar {
  width: 1.5rem;
}

::-webkit-scrollbar-track {
  @include themify() {
    background-color: themed('color-base-darker');
  }
}

::-webkit-scrollbar-thumb {
  @include themify() {
    background-color: themed('color-border');
    border: 2px solid themed('color-base-darker');
  }
  border-radius: $radius;
}

::-webkit-scrollbar-thumb:hover {
  @include themify() {
    background-color: themed('color-contrast');
  }
}
