body {
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.6rem;
    color: $color-secondary-dark;

    ::selection {
        background-color: $color-alternative-dark;
    }
}
