body {
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

*::selection {
  @include themify() {
    background-color: themed('color-contrast');
    color: themed('color-text-selection');
  }
}
