$color-base-dark: #202020;
$color-text-dark: #f3f3f3;
$color-detail-dark: #999999;
$color-contrast-dark: #80cbc4;
$color-danger-dark: #d31905;

$color-base-light: #eeeeee;
$color-text-light: #575757;
$color-detail-light: #999999;
$color-contrast-light: #ab63d4;
$color-danger-light: #ca1400;

$color-black: #000;
$color-white: #FFF;
$color-window-border: #999;
$radius: 4px;
