*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

.splash {
  background: radial-gradient(closest-side, #9e44fd, #6106C2, #3B0475);
  color: #e4e4e4;
  border-radius: 4px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.splash__text {
  font-family: 'Oregano', cursive;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash__loader-container {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.splash__loader {
  width: 3rem;
  height: 3rem;
  position: relative;
  border-radius: 50%;
  width: 0.4rem;
  height: 0.4rem;
  background-color: currentColor;
  animation-name: pacmanDot;
  transform: translateX(1.4rem);
}

.splash__loader,
.splash__loader::before,
.splash__loader::after {
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.splash__loader::before,
.splash__loader::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 1.4rem solid currentColor;
  border-right-color: transparent;
  top: -1.2rem;
  left: -2.4rem;
}

.splash__loader::before {
  animation-name: upperJaw;
}

.splash__loader::after {
  animation-name: lowerJaw;
}

@keyframes pacmanDot {
  0%,
  50% {
    background: currentColor;
  }
  51%,
  100% {
    background: none;
  }
  0%,
  100% {
    transform: translateX(0.9rem);
  }
  50% {
    transform: translateX(0.4rem);
  }
}

@keyframes upperJaw {
  50% {
    transform: rotate(50deg) translate(0.2rem, -0.2rem);
  }
}

@keyframes lowerJaw {
  50% {
    transform: rotate(-50deg) translate(0.2rem, 0.2rem);
  }
}
