@import '../../sass/styles.scss';

.base-layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid $color-window-border;
  transition: all 0.2s;

  @include themify(true) {
    background-color: themed('color-base');
    color: themed('color-text');
  }

  &__frame {
    flex: 0 0 35px;
  }

  &__content {
    flex: 1;
    padding: 2rem;
    position: relative;
  }
}
