.config-not-found {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__message {
    text-align: center;
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  &__message-title {
    margin-bottom: 2rem;
  }

  &__message-help {
    margin-bottom: 1rem;
  }

  &__message-help-example {
    margin-bottom: 1rem;
  }

  &__folder-picker {
    margin-top: 2rem;
    width: 50%;
  }

  &__btn-validate {
    margin-top: 2rem;
  }
}
